.score_container {
  width: 100%;
  font-size: 1.4rem;
  
  .score_header {
    text-align: center;
    color: $color-train;
    border-width: 0px;
  }

  tr,
  td {
    border-width: 2px;
  }

  td {
    background-color: transparent;
    padding: 0.5rem;
  }
}
